.emergency-help-container {
  text-align: center;
  height: 70vh;
}

button {
  padding: 10px 15px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.emergency-info {
  margin-top: 20px;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
}
